{% extends 'partials/base.html' %}
{% block title %} Logout page {% endblock %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="comtainer">
        <div class="row mt-5">
            <div class="col-md-6 offset-md-3">
                <div class="border bg-white p-3">
                    <h3>Cerrar sesión</h3>
                    <hr>
                    <div class="alert alert-danger">
                        <h4> Has cerrado sesión</h4>
                    </div>
                    <a href="{% url 'user-login' %}">Iniciar sesión</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}